@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Raleway&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#root {
    font-family: 'Handjet', cursive;
    font-family: 'Raleway', sans-serif;
}

#heroRight {
    margin-left: auto;
    margin-right: -100px;
    background: url('./assets/heroRight.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}